<div class="bg-light py-5 service-1">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                        <div class="my-3"><img
                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/market.png"
                                alt="wrapkit" /></div>
                        <h6 class="font-weight-medium">Retargeting Market</h6>
                        <p class="mt-3">You can relay on our amazing features list and also our customer services will
                            be great experience.</p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                        <div class="my-3"><img
                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/fruit.png"
                                alt="wrapkit" /></div>
                        <h6 class="font-weight-medium">Fruitful Results</h6>
                        <p class="mt-3">You can relay on our amazing features list and also our customer services will
                            be great experience.</p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4 wrap-service1-box">
                <div class="card border-0 card-shadow mb-4">
                    <div class="card-body text-center">
                        <div class="my-3"><img
                                src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature1/instant.png"
                                alt="wrapkit" /></div>
                        <h6 class="font-weight-medium">Instant Solutions</h6>
                        <p class="mt-3">You can relay on our amazing features list and also our customer services will
                            be great experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3 text-center">
                <a class="btn btn-success-gradiant text-white btn-md border-0"><span>View Details</span></a>
            </div>
        </div>
    </div>
</div>